<main class="content">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="/home" routerLinkActive="active" class="route">Home</span>
      <span routerLink="/about" routerLinkActive="active" class="route">About</span>
      <span routerLink="/settings" routerLinkActive="active" class="route">Settings</span>
			<span routerLink="/login" routerLinkActive="active" class="route">Login</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</main>
